#two_block{
 	height: 100%;
	width: 100%; 
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
}
#in_two_left{
	height: 80%;
	width: 45%;
	float: left;
	box-shadow: 2px 2px 5px #34495E;
	border-radius: 10px;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 5%;
	top: 10%;
}
#in_two_right{
	height: 80%;
	width: 45%;
	float: left;
	box-shadow: 2px 2px 5px #34495E;
	border-radius: 0.625rem;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 50%;
	top: 10%;
}
#startone{
	height: 80%;
	width: 45%;
	float: left;
	background-color: #34495E;
	border-radius: 10px;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 5%;
	top: 10%;
	z-index: 0;
}
#in_two_right:focus+#startone{
	left: 50%;
}
#in_two_left:focus+#startone{
	left: 5%;
}