body{
	text-align:center;
}
.shadow {
	width: 50%;
	height: 300px;
	padding: 20px;
	margin: 20px auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dot {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: dotted 3px #cfcfcf;
}

.fake {
	width: 150px;
	height: 50px;
	background: #00b7fe;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	border-radius: 5px;
	margin-top: -50px;
	margin-left: -75px;
}

.fake:active {
	background: #025670;
}

.file-input {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	left: 0;
	opacity: 0;
}

.submit {
	display: block;
	width: 100px;
	height: 30px;
	background: #00b7fe;
	border: solid 3px #00b7fe;
	color: #fff;
	margin: 0 auto;
}

.tip {
	position: absolute;
	top: 50%;
	color: #ccc;
	font-size: 18px;
	text-align: center;
	width: 100%;
}
.sp{
	height: 0.125rem;
	width: 90%;
	margin: 10px auto;
	background-color: #00B7FE;
}

.submito {
	display: block;
	width: 150px;
	height: 50px;
	background: #00b7fe;
	border: solid 3px #00b7fe;
	color: #fff;
	margin: 20px auto;
}